---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Socials from "@components/Socials/Socials.astro";
import Links from "@components/Links/Links.astro";

const bio = await getCollection("bio");

const profile = bio[0];
const { name, avatar, background, blur } = profile.data;
const { Content } = await profile.render();
---

<BaseLayout
  title={`[!FULL~VIDEOS√] ${name} Viral Leaked Video 2024 LINK On Social Media X Twitter [MMS70K]`}
  description={`${name} are trending on social media after their viral video surfaced. Watch the leaked video here and discover the latest updates about the original and exclusive footage that has captured widespread attention.'`}
  image={avatar}
>
  <div class="relative min-h-[100lvh]">
    <!-- background image -->
    <div class="absolute inset-0">
      <Image
        src={background}
        alt="background"
        widths={[128, 256, 512, 768, 1024, 1280, 1536, 1920]}
        sizes={"100vw"}
        quality="high"
        aria-hidden="true"
        class="h-full w-full object-cover"
      />
    </div>

    <!-- backdrop blur -->
    <div
      class:list={[
        "absolute inset-0 bg-white/80 dark:bg-black/80",
        {
          "backdrop-blur-lg": blur === "blur",
        },
      ]}
    >
    </div>

    <!-- content -->
    <section
      id="profile"
      class="site-container relative pt-12 text-center md:pt-20"
    >
      <!-- profile image -->
      <div class="mx-auto flex justify-center">
        <figure class="">
          <Image
            src={avatar}
            alt={`${name}'s avatar`}
            width={128}
            densities={[1.5, 2]}
            quality="high"
            loading="eager"
            class="aspect-square max-w-28 rounded-full object-cover"
          />
        </figure>
      </div>

      <h1 class="mt-4 text-xl sm:text-3xl">{name}</h1>

      <div class="prose mt-2 text-pretty text-sm leading-snug sm:text-base">
        <Content />
      </div>
    </section>

    <Socials />
    <Links />
  </div>
</BaseLayout>
